[submodule "common/eaas-emucon-tools/emucon-tools"]
	path = common/eaas-emucon-tools/emucon-tools
	url = https://gitlab.com/openslx/emucon-tools.git
[submodule "common/eaas-disktype/disktype_json"]
	path = common/eaas-disktype/disktype_json
	url = https://github.com/OpenSLX/disktype_json.git
[submodule "citar-container"]
	path = citar-container
	url = https://gitlab.com/CiTAR/citar-container.git
[submodule "common/eaas-picotcp/picotcp"]
	path = common/eaas-picotcp/picotcp
	url = https://gitlab.com/emulation-as-a-service/eaas-proxy
