[submodule "common/eaas-emucon-tools/emucon-tools"]
	path = common/eaas-emucon-tools/emucon-tools
	url = ../emucon-tools.git
[submodule "common/eaas-disktype/disktype_json"]
	path = common/eaas-disktype/disktype_json
	url = https://github.com/OpenSLX/disktype_json.git
[submodule "citar-container"]
	path = citar-container
	url = https://gitlab.com/CiTAR/citar-container.git
[submodule "common/eaas-picotcp/picotcp"]
	path = common/eaas-picotcp/picotcp
	url = https://gitlab.com/emulation-as-a-service/eaas-proxy
[submodule "custom-packages"]
	path = common/custom-packages
	url = https://gitlab.com/emulation-as-a-service/experiments/bionic-update.git
[submodule "common/test-sock-diag"]
	path = common/test-sock-diag
	url = https://gitlab.com/emulation-as-a-service/experiments/test-sock-diag
